
*{
    margin:0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 100vw;
    background-color: #f4f7f6;
    margin: 0 auto;
}

header, footer{
    background-color: #34495e;
    color: white;
    padding: 20px;
} 


/*Mobile First Styles (Screens < 750px) */

#nav-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    width: 100%; 
    background-color: #2c3e50;
    color: white;
}

nav ul {
    padding: 10px 0;
    list-style: none;
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
    flex-wrap: wrap;
}

nav a {
    display: block;
    color: #ecf0f1;
    padding: 15px 10px; 
    font-size: 18px;        
}

main {
    width: 100%; 
    min-height: 100vh;
    text-align: center;
}

#name-header {
    text-align: center;
}

/*Desktop Styles (Screens > 750px) */

@media screen and (min-width: 750px) {
    #nav-main {
        flex-direction: row;
    }

    nav {
        width: 30%;
    }

    nav ul {
        flex-direction: column;
        padding-left: 10px;
        
    }

    main {
        width: 70%;
    }

    #name-header {
        text-align: left;
    }   

}

@media screen and (min-width: 1000px) {
    #page-wrapper{
        width: 70%;
    }
}

.entry {
    text-align: left;
    margin-bottom: 30px; 
    padding:20px;
    background-color: white;
}

.short-summary{
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
}
#project{
    padding-top: 5px;
}

#skill-container{
    margin: 100px;
}

.img{
    max-width: 100%;
}

main h1 {
    margin-bottom: 20px; 
}

#calculator-section{
    margin-top: 50px;
    margin-bottom: 100px;
}